<p>All quotes</p>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let quote of quotes">
      <td>{{quote.title}}</td>
      <td>{{quote.text}}</td>
      <td>{{quote.link}}</td>
    </tr>
  </tbody>
</table>

<div>
  <p>Add quote</p>
  <form (ngSubmit)="addQuote()" novalidate #quoteForm="ngForm">
    <label for="inputQuoteTitle">Quote title:</label>
    <input type="text" id="inputQuoteTitle" [(ngModel)]="quoteTitle" name="quoteTitle"/>
    <label for="inputQuoteText">Quote title:</label>
    <input type="text" id="inputQuoteText" [(ngModel)]="quoteText" name="quoteText"/>
    <button type="submit">Add</button>
  </form>
</div>


