<div class="container">
  <nav *ngIf="isLoggedIn" class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"
             routerLink="/laws-and-principles"
             routerLinkActive="activebutton"
             ariaCurrentWhenActive="page">
            Laws and Principles
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/maintenance"
             routerLinkActive="activebutton"
             ariaCurrentWhenActive="page">
            Maintenance</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav ml-auto">
      <button (click)="logout()">Logout</button>
      <app-search></app-search>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>

